<div class="row">
    <div class="col-sm-12 pt-2 pb-2">
        <a class="text-secondary pl-0 font-lg" [routerLink]="['/theses/proposals']">
            <i class="fa fa-chevron-left pr-1"></i><span [translate]="'iTheses.ThesisProposalsTitle'"></span>
        </a>
    </div>
</div>

<!--pre-loading state-->
<div class="card mb-3 mt-5" *ngIf="isLoading">
    <div class="card-body">
        <div class="ph-col-12">
            <div class="ph-row">
                <div class="ph-col-8 big"></div>
            </div>
            <div class="ph-row">
                <div class="ph-col-2 big"></div>
                <div class="ph-col-2 ml-3 big"></div>
                <div class="ph-col-2 ml-3 big"></div>
            </div>
        </div>
    </div>
</div>
<!--end pre-loading state-->

<ng-container *ngIf="model && !isLoading">
    <div class="row pt-2 pb-2 ">
        <div class="col-auto mr-auto">
            <h2 class="text-dark d-inline mr-2">{{ model | localize:['name'] }} - {{ model?.status |
                localize:['name'] }}</h2>
        </div>
    </div>

    <div class="clear-content-area mb-3">
        <div class="d-none d-md-block">
            <div>
                <div class="mb-2">
                    <span class="text-secondary mr-3"><i class="fa fa-university pr-1"></i>{{
                        model?.department| localize:['name'] }}</span>
                    <span title="{{ 'iTheses.ThesisType.type' | translate }}" class="text-secondary mr-3">
                        <i class="fa fa-flag pr-1"></i>{{ model?.type | localize:['name'] }}</span>
                    <span *ngIf="model.dateCreated" title="{{ 'iTheses.ThesisProposals.StartDate' | translate }}"
                        class="text-secondary mr-3">
                        <i class="fa fa-calendar-plus pr-1"></i>{{ 'iTheses.ThesisProposals.StartDate' | translate }} {{model?.dateCreated | localizedDate: 'shortDate'}}
                    </span>
                    <span *ngIf="model.dateModified" title="{{ 'iTheses.ThesisProposals.ModifiedDate' | translate }}"
                        class="text-secondary mr-3">
                        <i class="fa fas fa-calendar pr-1"></i>{{ 'iTheses.ThesisProposals.ModifiedDate' | translate }} {{model?.dateModified | localizedDate: 'shortDate'}}
                    </span>
                </div>
                <div class="mb-2">
                    <span class="text-secondary mr-3" title="{{ 'iTheses.ThesisProposals.ModifiedDate' | translate }}">
                        <i class="fa fa-users pr-1"></i>{{'iTheses.ThesisProposals.TotalStudents' | translate}}: {{model.totalStudents}}</span>
                </div>
            </div>
        </div>
        <hr>
        <div class="clear-content-area mb-3 mt-4">
            <div *ngIf="model">
                <app-thesis-requests-table [model]="model"></app-thesis-requests-table>
            </div>
        </div>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</ng-container>
<ng-container *ngIf="!isLoading && !model">
    <div class="row mt-3">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <p class="card-text" [translate]="'NotAvailableFeature.ClassNotAvailable'"></p>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</ng-container>