<ng-template #templateMsg>
  <div class="card-body">
  </div>
</ng-template>
<div class="inner__content"
#innerContainer>
  </div>
  <div class="card">
  <div class="card-body">
<div class="row">
  <div class="col-lg-6 col-sm-auto d-none d-md-block">
    <div class="card-title"><h5><span [translate]="'CoursesLocal.RegisteredStudents'"></span></h5></div>
  </div>
  <div class="col-10 d-md-none">
    <div class="card-title"><h5 [translate]="'CoursesLocal.RegisteredStudents'"></h5></div>
  </div>
  <div class="col-lg-6 col-sm-auto d-none d-md-block" align="right">
    <button type="button" class="btn btn-secondary s--btn s--btn-secondary s--text" (click)="openModalWithComponent()"><span
      [translate]="'CoursesLocal.Communication'"></span></button>
    <button type="button" class="btn btn-secondary s--btn s--btn-secondary s--text " (click)="exportStudentList(selectedClass)"> <span
      [translate]="'CoursesLocal.DownloadList'"></span></button>
  </div>

  <div class="col-12" style="margin-top: 25px;" [ngVar]="{}" #filter="ngVar">
    <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [collapsed]="true" [table]="table" [allowSave]="false" [routerSearchState]>
      <advanced-search>
        <app-advanced-search-form (filterChange)="advancedSearch.asyncAdvancedSearch()" [form]="searchConfiguration" #search [(filter)]="filter.value"></app-advanced-search-form>
      </advanced-search>
    </app-advanced-table-search>
  </div>
</div>
<div class="row">
  <div class="col-auto mt-2">
    <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
      <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'CoursesLocal.Students'"></span>
    </div>
    <div class="font-xl text-secondary" *ngIf="recordsTotal === 1">
      <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'CoursesLocal.Student'"></span>
    </div>
  </div>
  <div class="pull-right ml-auto mr-3 mt-3">
    <div class="btn-group" *ngIf="this.table && this.table.selectable">
      <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="btn btn-outline-indigo btn-lg" (click)="sendDirectMessageAction()" type="button" [translate]="'CoursesLocal.Contact'">
        Contact
      </button>
      <button class="btn btn-lg btn-outline-indigo dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item" (click)="sendDirectMessageAction()" [translate]="'CoursesLocal.ContactStudent'">Contact Student</button>
        <div class="dropdown-divider"></div>
        <button class="dropdown-item" (click)="table.selectAny()" [translate]="'Tables.SelectAll'">Select all</button>
        <button class="dropdown-item" (click)="table.selectNone()" [translate]="'Tables.ClearSelection'">Clear selection</button>
      </div>
    </div>
  </div>
  <div class="col-12 mb-4">
    <app-advanced-table #table [height]="600" (load)="onDataLoad($event)" [autoLoad]="true"></app-advanced-table>
  </div>

  </div></div>
  <router-modal></router-modal>
</div>