<!--pre-loading state-->
<div class="card mb-3" *ngIf="isLoading">
  <div class="card-body">
    <div class="ph-col-12">
      <div class="ph-row">
        <div class="ph-col-2 big"></div>
        <div class="ml-3 ph-col-2 big"></div>
        <div class="ml-3  ph-col-2 big"></div>
      </div>
      <div class="ph-row">
        <div class="ph-col-2 big"></div>
        <div class="ml-3 ph-col-2 big"></div>
        <div class="ml-3  ph-col-2 big"></div>
        <div class="ml-3  ph-col-2 big"></div>
      </div>
      <div class="ph-row">
        <div class="ph-col-2 big"></div>
      </div>
      <div class="ph-row">
      </div>
      <div class="ph-row">
        <div class="ph-col-8 big"></div>
      </div>
    </div>
  </div>
</div>
<!--end pre-loading state-->

<div class='card' *ngIf="!isLoading">
  <div class='card-body text-gray-600'>
    <div class='row'>
      <div class="col-xl-8 col-lg-6 col-12">
        <div class="card-title"><h4><span [translate]="'CoursesLocal.CourseElements'"></span></h4></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-gray-600">
        <div class="row justify-content-start mb-2">
          <div class="col-auto">
            <i class=" fa fa-calendar pr-2"></i>  {{selectedClass?.period.alternateName | translate}} {{selectedClass?.year?.alternateName}}
          </div>
          <div class='col-auto'><i class="fa fa-user pr-2"></i>   {{ selectedClass?.numberOfStudents }}  <span *ngIf="selectedClass?.numberOfStudents > 1" [translate]="'CoursesLocal.Students'" ></span>  <span  *ngIf="selectedClass?.numberOfStudents === 1" [translate]="'CoursesLocal.Student'" ></span></div>
          <div class='col-auto'><i class="fa fa-university pr-2"></i>   {{ selectedClass?.course.department | localize:['name'] }}
          </div>
          <div class="col-auto">
                      <span *ngIf="selectedClass?.sections?.length == 0; else Show">
                        <i class="fa fa-group pr-2"></i>
                        <span  [translate]="'CoursesLocal.SectionNotFound'"></span>
                      </span>
            <ng-template #Show>
              <i class="fa fa-group"></i>
              <span class="pl-2" *ngFor="let section of selectedClass?.sections; let isLast=last">
                         {{ section.name }}{{isLast ? '' : ', '}}
                        </span>
            </ng-template>
          </div>
        </div>
        <div class="row justify-content-start mb-2">
          <div class="col-auto"><i class=" fa fa-flag pr-2"></i>   {{selectedClass?.course?.displayCode}}
          </div>
          <div class='col-auto'>
            <div *ngIf="selectedClass?.course?.isShared === 0; else shared"><i class="fa fa-share-alt pr-2"></i> <span
              [translate]="'CoursesLocal.SharedCourse'"></span></div>
            <ng-template #shared><i class="fa fa-fa-share-alt pr-2"></i>  {{ selectedClass?.numberOfStudents }} <span *ngIf="selectedClass?.numberOfStudents > 1" [translate]="'CoursesLocal.Students'" ></span><span *ngIf="selectedClass?.numberOfStudents === 1" [translate]="'CoursesLocal.Student'" ></span></ng-template>
          </div>
          <div class='col-auto'>
            <div *ngIf="selectedClass?.course?.units  && selectedClass?.course?.units.length > 0; else noUnits">
              <i class="fa fa-fa-graduation-cap pr-2"></i> <span
                [translate]="'CoursesLocal.Units'"></span> {{ selectedClass?.course?.units}}    </div>
            <ng-template #noUnits><i class="fa fa-graduation-cap pr-2"></i>  <span [translate]= "'CoursesLocal.Units'"></span> <span class="pl-2" [translate]= "'CoursesLocal.NoUnits'"></span></ng-template>
          </div>

          <div class='col-auto'><span
            [translate]="'CoursesLocal.Ects'"></span> {{ selectedClass?.course?.ects }}                  </div>
        </div>
        <div class="row justify-content-start mb-2">
          <div class="col-auto">
            <i class="fa fa-user pr-2"></i>
            <span  *ngFor="let instructor of selectedClass?.instructors; let isLast=last">
                         {{ instructor.instructor | localize:['familyName'] }} {{ instructor.instructor | localize:['givenName'] }}{{isLast ? '' : ', '}}
                        </span>
          </div>
          <div *ngIf="selectedClass" class="col-auto">
            <i class="fas fa-user-alt-slash pr-2"></i>
            <a *ngIf="selectedClass.year?.id === selectedClass.department?.currentYear; else oldClass"
              [routerLink]="['.', { outlets: { modal: [selectedClass.id] } }]">{{ 'AbsenceLimit.Title' | translate }}: {{ selectedClass?.absenceLimit === null ? ('AbsenceLimit.Set' | translate) : selectedClass?.absenceLimit }}</a>
              <ng-template #oldClass>
                <span>{{ 'AbsenceLimit.Title' | translate }}: {{ selectedClass?.absenceLimit || 0 }}</span>
              </ng-template>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="gradeScale.scaleType === 1 || gradeScale.scaleType === 3">
      {{ 'Grading.Title' | translate }}: {{gradeScale.name}}
      <div *ngFor="let value of gradeScale.values; let isLast= last">
        {{value?.name}}{{isLast ? '' : '/ '}}
        {{value?.name}}: {{value?.alternateName}}{{isLast ? '' : ', '}}
      </div>
    </div>
    <div *ngIf="gradeScale.scaleType === 0">
      {{ 'Grading.Title' | translate }}: {{ gradeScale.name }}
    </div>
    <div class="row">
      <div class="col-xl-8 col-lg-6 col-12 mt-4">
        <div class="card-title">
          <h4 style="display: flex;align-items: center;justify-content: flex-start">
            <span [translate]="'CoursesLocal.ExternalLinks'"> </span>
            <a style="font-size:x-small;"
              [routerLink]="['.', { outlets: { modal: [selectedClass.id, 'externalLinks'] } }]">
              <i class="fas fa-edit pr-1 pl-2"></i><span [translate]="'CoursesLocal.Edit'"></span></a>
          </h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-auto">
        <i class="fa fa-link pr-1"></i>
        <span *ngIf="selectedClass?.classUrl; else ShowNoClassURL">
          <a [href]="'' + selectedClass?.classUrl" target="_blank">
            <span [translate]="'CoursesLocal.ClassURL'"></span>
          </a>
        </span>
        <ng-template #ShowNoClassURL>
          <span class="text-secondary" [translate]="'CoursesLocal.ClassURL'"></span>
        </ng-template>
      </div>
      <div class="col-auto" *ngIf="!this.hideElearningUrl">
        <i class="fa fa-link pr-1"></i>
        <span *ngIf="selectedClass.eLearningUrl; else ShowNoElearning">
          <a [href]="'' + selectedClass.eLearningUrl" target="_blank">
            <span [translate]="'CoursesLocal.Elearning'"></span>
          </a>
        </span>
        <ng-template #ShowNoElearning>
          <span class="text-secondary" [translate]="'CoursesLocal.Elearning'"></span>
        </ng-template>
      </div>
    </div>
    <div class="col-auto pl-0" *ngFor="let navigationLink of selectedClass?.navigationLinks">
        <i class="fa fa-link pr-2"></i><span>{{navigationLink.name}}</span> - <a href="{{navigationLink.url}}" target="_blank"
          rel="noopener noreferrer">{{navigationLink.url}}</a>
    </div>
    <div class="row" *ngIf="selectedClass?.sections.length > 0">
      <div class="col-xl-8 col-lg-6 col-12 mt-3">
          <h6 style="display: flex;align-items: center;justify-content: flex-start">
            <a class="dropdown-toggle" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
              aria-controls="collapseExample">
              <span [translate]="'CoursesLocal.SectionLinks'"></span>
            </a>
          </h6>
      </div>
    </div>
    <div class="collapse" id="collapseExample">
      <p *ngIf="selectedClass?.sections.length > 0"><span
          [translate]="'CoursesLocal.SectionLinksDescr'"></span></p>
      <div>
        <span *ngFor="let section of selectedClass?.sections">
          <div class="row mb-3 col-auto">
            <div class="row col-auto" style="
              display: flex;
              flex-direction: column;
              flex-wrap: nowrap;
              align-items: flex-start;
          ">
              <div style="display: flex;align-items: center;justify-content: flex-start"><span style="font-weight: 600;"
                  [translate]="'CoursesLocal.Section'"></span>&nbsp;<span style="font-weight: 600;">{{ section.name }}
                </span>
                <a style="font-size:x-small;"
                  *ngIf="section.instructors.length > 0 && checkIfInstructor(section.instructors)"
                  [routerLink]="['.', { outlets: { modal: [selectedClass.id, 'sections', section.id, 'externalLinks'] } }]">
                  <i class="fas fa-edit pr-1 pl-2"></i><span [translate]="'CoursesLocal.Edit'"></span>
                </a>
              </div>
              <div *ngIf="section?.navigationLinks?.length > 0"
                style="display: flex;flex-wrap: nowrap;flex-direction: column;align-items: flex-start;">
                <div *ngFor="let navigationLink of section?.navigationLinks"><i
                    class="fa fa-link pr-2"></i>{{navigationLink.name}} - <a href="{{navigationLink.url}}" target="_blank"
                    rel="noopener noreferrer">{{navigationLink.url}}</a>
                </div>
              </div>
              <div *ngIf="section?.navigationLinks?.length == 0"
                style="display: flex;flex-wrap: nowrap;flex-direction: column;align-items: flex-start;">
                <span class="text-secondary" [translate]="'CoursesLocal.MissingSectionNavigationLinks'"></span>
              </div>
            </div>
          </div>
        </span>
      </div>
  </div>
    <div class="row" *ngIf="supportBooksService">
      <div class="col-12 text-gray-600">
          <div class="mb-2">
            <div class="col-auto">
              <app-course-books (loadingEvent)="isLoadingBooksHandler($event)" [selectedClass]="selectedClass"></app-course-books>
            </div>
          </div>
       </div>
    </div>
  </div>
</div>
<router-modal></router-modal>
