<div class="row">
  <div class="col-12">
    <div class="row mt-2 mb-2">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="modal-header" style="display: contents">
          <button (click)="cancel()" type="button" class="close" data-dismiss="modal" aria-label="Cancel">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div *ngIf="data!=null">
          <advanced-form-edit #formEditGeneral [data]="data" [formName]="srcEditGeneral" (change)="onChange($event, data)"></advanced-form-edit>
        </div>
      </div>
    </div>
  </div>
</div>