<div>
  <div class="row">
    <div class="col-12" [ngVar]="{}" #filter="ngVar">
      <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [collapsed]="true" [table]="table" [allowSave]="false" [routerSearchState]>
        <advanced-search>
          <app-advanced-search-form (filterChange)="advancedSearch.asyncAdvancedSearch()" #search [form]="searchConfiguration" [(filter)]="filter.value"></app-advanced-search-form>
        </advanced-search>
      </app-advanced-table-search>
    </div>
  </div>
<div class="alert alert-info col-12 mt-4" *ngIf="recordsTotal > 1" [translate]="'DocumentSignActions.ListInfo'"></div>
  <div class="row">
    <div class="col-auto mt-2">
      <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'DocumentSignActions.TitleSingular'"></span>
      </div>
      <div class="font-xl text-secondary" *ngIf="recordsTotal === 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'DocumentSignActions.Title'"></span>
      </div>
    </div>
    <div class="pull-right ml-auto mr-3 mt-3" [ngClass]="{'invisible': showList && viewOption?.name != 'table'}">
      <div class="btn-group" *ngIf="this.table && this.table.selectable">
        <button  [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="btn btn-outline-indigo btn-lg"  type="button" (click)="signAction()" [translate]="'DocumentSignActions.DigitalSign'">
          Contact
        </button>
        <button class="btn btn-lg btn-outline-indigo dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <button  [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item" (click)="signAction()" [translate]="'DocumentSignActions.DigitalSign'">Sign Documents</button>
          <div class="dropdown-divider"></div>
          <button class="dropdown-item" (click)="table.selectAny()" [translate]="'Tables.SelectAll'">Select all</button>
          <button class="dropdown-item" (click)="table.selectNone()" [translate]="'Tables.ClearSelection'">Clear selection</button>
        </div>
      </div>
    </div>
    <div class="col-12 mb-4" [ngClass]="{'hidden': showList && viewOption?.name != 'table'}">
      <app-advanced-table #table [height]="600" (load)="onDataLoad($event)" [autoLoad]="false"></app-advanced-table>
    </div>
  </div>
  <router-modal></router-modal>
  <app-document-download-routed [documentsUrl]="'instructors/me/documents' " [extras]="{documentCanBePublished:false}"></app-document-download-routed>
</div>
