<div class="m-lg-3" *ngIf="!isLoading">
  <h1 [translate]="'Profile.ModuleTitle'"></h1>
  <div class="profile_avatar_box">
    <div class="row">
      <div class="avatar avatar-12 m-auto" [ngClass]="{
        'avatar-male-teacher' : instructor.gender.alternateName === 'male',
        'avatar-female-teacher' : instructor.gender.alternateName === 'female' }">
      </div>
    </div>
    <div class="row">
      <h3 class="col text-center">{{ instructor| localize:['title'] }} {{ instructor| localize:['givenName']  }} {{ instructor| localize:['familyName'] }}</h3>
    </div>
    <div class="row">
      <span class="col text-center">{{instructor?.department| localize:['name'] || '-'}}</span>
    </div>
    <div class="row">
      <span class="col text-center">{{ instructor| localize:['category']  }}</span>
    </div>
  </div>

  <div class="mt-4 pr-lg-5"> <!-- first box -->
    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-3 label mt-2 mt-lg-0">
            <span [translate]="'Profile.Category'"></span>
          </div>
          <div class="col-lg-3 text-blue">
            <span>{{instructor| localize:['category'] || '-'}}</span>
          </div>
          <div class="col-lg-3 label mt-2 mt-lg-0">
            <span [translate]="'Profile.Specialty'"></span>
          </div>
          <div class="col-lg-3 text-blue">
            <span>{{instructor| localize:['specialty'] || '-'}}</span>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- #first box -->

  <div class="mt-4 pr-lg-5"> <!-- second box -->
    <div class="card mb-3">
      <div class="card-body">

        <div class="row my-3">
          <div class="col-lg-3 label mt-2 mt-lg-0">
            <span [translate]="'Profile.GivenName'"></span>
          </div>
          <div class="col-lg-3">
            <span>{{instructor| localize:['givenName']  || '-'}}</span>
          </div>
          <div class="col-lg-3 label mt-2 mt-lg-0">
            <span [translate]="'Profile.HomeAddress'"></span>
          </div>
          <div class="col-lg-3">
            <span>{{([instructor.homeAddress,instructor.homeCity,instructor.homePostalCode] | truthify | join : ', ') || '-'}}</span>
          </div>
        </div>

        <div class="row my-3">
          <div class="col-lg-3 label mt-2 mt-lg-0">
            <span [translate]="'Profile.FamilyName'"></span>
          </div>
          <div class="col-lg-3">
            <span>{{instructor| localize:['familyName']  || '-'}}</span>
          </div>
          <div class="col-lg-3 label mt-2 mt-lg-0">
            <span [translate]="'Profile.HomePhone'"></span>
          </div>
          <div class="col-lg-3">
            <span>{{instructor?.homePhone || '-'}}</span>
          </div>
        </div>

        <div class="row my-3">
          <div class="col-lg-3 label mt-2 mt-lg-0">
            <span [translate]="'Profile.MiddleName'"></span>
          </div>
          <div class="col-lg-3">
            <span>{{instructor| localize:['middleName'] || '-'}}</span>
          </div>
          <div class="col-lg-3 label mt-2 mt-lg-0">
            <span [translate]="'Profile.WorkAddress'"></span>
          </div>
          <div class="col-lg-3">
            <span>{{([instructor.workAddress,instructor.workCity,instructor.workPostalCode] | truthify | join : ', ') || '-'}}</span>
          </div>
        </div>

        <div class="row my-3">
          <div class="col-lg-3 label mt-2 mt-lg-0">
            <span [translate]="'Profile.URL'"></span>
          </div>
          <div class="col-lg-3">
            <span>{{instructor?.url || '-'}}</span>
          </div>
          <div class="col-lg-3 label mt-2 mt-lg-0">
            <span [translate]="'Profile.WorkPhone'"></span>
          </div>
          <div class="col-lg-3">
            <span>{{instructor?.workPhone || '-'}}</span>
          </div>
        </div>

        <div class="row my-3">
          <div class="col-lg-3 label mt-2 mt-lg-0">
            <span [translate]="'Profile.InstructorCode'"></span>
          </div>
          <div class="col-lg-3">
            <span>{{instructor?.instructorCode || '-'}}</span>
          </div>
          <div class="col-lg-3 label mt-2 mt-lg-0">
            <span [translate]="'Profile.Email'"></span>
          </div>
          <div class="col-lg-3">
            <span>{{instructor?.email || '-'}}</span>
          </div>
        </div>

        <div class="row my-3">
          <div class="col-lg-3 label mt-2 mt-lg-0">
            <span [translate]="'Profile.Fax'"></span>
          </div>
          <div class="col-lg-3">
            <span>{{instructor?.fax || '-'}}</span>
          </div>
        </div>


      </div>
    </div>
  </div> <!-- #second box -->

</div>
