<div class="s--btn-group-toggle py-3">
  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-toggle" [routerLink]="routerLinkGeneral" [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{queryParams: 'ignored', exact: true}">
      <input type="radio" name="options" id="option1" autocomplete="off"><span
        [translate]="'CoursesLocal.General'"></span>
    </label>
    <label class="btn btn-toggle" [routerLink]="routerLinkStudents" [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{queryParams: 'ignored', exact: true}">
      <input type="radio" name="options" id="option2" autocomplete="off"><span
        [translate]="'CoursesLocal.GradingSheet'"></span>
    </label>
  </div>
</div>
