<div *ngIf="notes">
  <app-generic-list [list]="notes" [buttons]="[
      ['ConsultedStudents.Notes.Create', '/consultedStudents/' + studentId + '/notes/(modal:add)', 'fas fa-plus']
    ]" [sortingModes]="[
      ['ConsultedStudents.Notes.Sort.PendingDateAsc', 'pending desc, pendingDate asc'],
      ['ConsultedStudents.Notes.Sort.DateCreatedAsc', 'dateCreated asc'],
      ['ConsultedStudents.Notes.Sort.DateCreatedDesc', 'dateCreated desc'],
      ['ConsultedStudents.Notes.Sort.DateModified', 'dateModified desc'],
      ['ConsultedStudents.Notes.Sort.PendingDateDesc', 'pending desc, pendingDate desc'],
    ]">
    <ng-template let-item>

      <app-generic-item [body]="[
          ['ConsultedStudents.Notes.dateCreated', item.dateCreated.toLocaleDateString(), 'fa fa-calendar'],
          ['ConsultedStudents.Notes.pending', !item.pending ? null : item.pendingDate ? item.pendingDate.toLocaleDateString() : '', 'fa fa-hourglass'],
        ]" [htmlHeader]="item.body" [buttons]="[
          null,
          ['Edit', '/consultedStudents/' + studentId + '/notes/(modal:' + item.id + '/edit)'],
          ['Delete', '/consultedStudents/' + studentId + '/notes/' + item.id + '/delete'],
        ]">
      </app-generic-item>

    </ng-template>
  </app-generic-list>
</div>
<router-modal></router-modal>
<router-outlet></router-outlet>