<div class="new-card {{classes || 'col-12'}}" *ngIf="fields?.length > 0">
  <div class="new-card-body">
    <div class="row">
      <div class="col-12">
        <div class="card-title">
          <h4><span [translate]="title || 'GenericInfo.Title'"></span></h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">

        <div class="row my-2" *ngFor="let field of fields">
          <div class="col-lg-4 text-gray-600 mt-2 mt-lg-0">
            <span [translate]="field[0]"></span>
          </div>
          <div class="col-lg-6">
            <span>{{field[1] || '-'}}</span>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>