<div>
  <app-generic-list [list]="list">
    <ng-template let-item>

      <app-generic-item [header]="[
            ['Students.CourseDisplayCode', '(' + item.course.displayCode + ')'], 
            ['Students.Course', item.courseTitle],
          ]" [body]="[
            ['Students.Type', item.courseType.name],
            ['StudentCourses.courseCategory', item.course.courseCategory?.alternateName ?? '-'],
            ['Students.Grade', item.formattedGrade ?? '-'],
          ]" [grade]="item.formattedGrade ?? '-'">
      </app-generic-item>

    </ng-template>
  </app-generic-list>
</div>