<div class="card mb-3" *ngIf="isLoading">
  <div class="card-body">
    <div class="ph-col-12">
      <div class="ph-row">
        <div class="ph-col-2 big"></div>
        <div class="ml-3 ph-col-2 big"></div>
        <div class="ml-3  ph-col-2 big"></div>
      </div>
      <div class="ph-row">
        <div class="ph-col-2 big"></div>
        <div class="ml-3 ph-col-2 big"></div>
        <div class="ml-3  ph-col-2 big"></div>
        <div class="ml-3  ph-col-2 big"></div>
      </div>
      <div class="ph-row">
        <div class="ph-col-2 big"></div>
      </div>
      <div class="ph-row">
      </div>
      <div class="ph-row">
        <div class="ph-col-8 big"></div>
      </div>
    </div>
  </div>
</div>
<!--end pre-loading state-->

<div class='card' *ngIf="!isLoading">
  <div class='card-body text-gray-600'>
    <div *ngIf="oneRosterClasses">
      <div class="h4 font-weight-bold mb-2" [translate]="'CoursesLocal.OneRosterClassesListTitle'"></div>
      <div class="alert fade show alert-info mb-2" [translate]="'CoursesLocal.OneRosterClassesListInfo'"></div>
      <ul>
        <li *ngFor="let class of oneRosterClasses">
          <div class="row d-inline-flex align-items-center col-12">
            <span class="badge badge-pill mr-1" [ngClass]="class.status === 'inactive' ? 'badge-danger' : 'badge-success'">
              {{ 'CoursesLocal.OneRosterClassStatus.' + class.status | translate }}
            </span>
            <a *ngIf="class.url && class.status === 'active'" [href]="class.url" target="_blank" class="mr-1">{{ class.title }},</a>
            <span *ngIf="!class.url || class.status !== 'active'" class="mr-1">{{ class.title }}</span>
            <span class="mr-1">({{ class.classCode }})</span>
            <span *ngIf="class.status === 'active'" class="text-gray-500"> {{ 'CoursesLocal.StudentEnrollments' | translate }} {{ class.studentEnrollments }}</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="h4" [translate]="'CoursesLocal.Settings'"></div>
    <div *ngIf="!enableActionsSetting" class="alert fade show alert-warning mb-2" [translate]="'CoursesLocal.ElearningCoursesDisabledActions'"></div>
    <div class="alert fade show alert-info mb-2" [translate]="'CoursesLocal.ElearningCoursesInfo'"></div>
    <app-courses-elearning-indivisible *ngIf="selectedClass && selectedClass.sections.length > 0"
      [courseClass]="selectedClass" [supervisor]="supervisor" [enableActionsSetting]="enableActionsSetting"
      [currentClass]="currentClass"></app-courses-elearning-indivisible>
    <div class="mb-3">
      <div class="h5 font-weight-bold mb-2" [translate]="'CoursesLocal.CourseMerge.Merge'"></div>
      <div class="mb-2" [translate]="'CoursesLocal.CourseMerge.Description'"></div>
      <div *ngIf="(!complexCourse && !sections) || mergedClassGroup.length !== 0">
        <div *ngIf="supervisor && currentClass && enableActionsSetting && !sections">
          <i *ngIf="mergedClassGroup.length === 0 || mainClass" class="fas fa-edit"></i>
          <a *ngIf="mergedClassGroup.length === 0"
            [routerLink]="['.', { outlets: { modal: [selectedClass.id, 'courseMerge'] } }]"
            [translate]="'CoursesLocal.CourseMerge.Merge'"></a>
          <a *ngIf="mergedClassGroup.length > 0 && mainClass"
            [routerLink]="['.', { outlets: { modal: [selectedClass.id, 'courseMerge'] } }]"
            [translate]="'CoursesLocal.CourseMerge.MainCourse'"></a>
        </div>
        <div *ngIf="!supervisor || !currentClass || !enableActionsSetting || sections">
          <div *ngIf="mergedClassGroup.length > 0 && mainClass" class="font-weight-bold"
            [translate]="'CoursesLocal.CourseMerge.MainCourse'"></div>
          <div *ngIf="mergedClassGroup.length === 0" class="font-weight-bold"
            [translate]="'CoursesLocal.CourseMerge.WithoutMerge'"></div>
        </div>
        <div *ngIf="!mainClass && mergedClassGroup.length > 0">
          <span class="font-weight-bold">{{'CoursesLocal.CourseMerge.NotMainCourse' | translate}}
            {{mergedClassGroup[0].replacedBy.displayCode}} - {{mergedClassGroup[0].replacedBy.title}} -
            {{mergedClassGroup[0].replacedBy.yearName}}/{{mergedClassGroup[0].replacedBy.periodName}} -
            {{mergedClassGroup[0].replacedBy.departmentName}}.</span>
        </div>
        <ul *ngIf="mergedClassGroup.length > 0 && mainClass">
          <li *ngFor="let class of mergedClassGroup">
            <div class="row d-flex align-items-center col-lg-4 col-12 pt-1 pl-0">
              <div class="col-lg-auto col-10">
                {{class.courseClass.displayCode}} - {{class.courseClass.title}} - {{class.courseClass.yearName}}/{{class.courseClass.periodName}} - {{class.courseClass.departmentName}}
              </div>
              <button *ngIf="supervisor && currentClass && enableActionsSetting && !sections" type="button"
                class="btn btn-secondary formio-button-remove-row btn-sm ml-auto" aria-label="remove"
                (click)="removeCourseMerge(class.courseClass.id)">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
              </button>
            </div>
          </li>
        </ul>
      </div>
      <div *ngIf="(complexCourse || sections) && mergedClassGroup.length === 0">
        <i class="fas fa-info-circle"></i>
        <span class="font-weight-bold" [translate]="'CoursesLocal.CourseMerge.CannotMerge'"></span>
      </div>
    </div>
    <div>
      <div class="h5 font-weight-bold pb-2" [translate]="'CoursesLocal.CourseDivision.Divide'"></div>
      <div class="mb-2" [translate]="'CoursesLocal.CourseDivision.Description'"></div>
      <div *ngIf="selectedClass && !complexCourse && !sections && (mergedClassGroup.length === 0 || mainClass)">
        <div *ngIf="supervisor && currentClass && enableActionsSetting">
          <i class="fas fa-edit"></i>
          <a *ngIf="classDivisions.length > 0"
            [routerLink]="['.', { outlets: { modal: [selectedClass.id, 'courseDivision'] } }]"
            [translate]="'CoursesLocal.CourseDivision.WithDivisions'"></a>
          <a *ngIf="classDivisions.length === 0"
            [routerLink]="['.', { outlets: { modal: [selectedClass.id, 'courseDivision'] } }]"
            [translate]="'CoursesLocal.CourseDivision.Divide'"></a>
        </div>
        <div *ngIf="!supervisor || !currentClass || !enableActionsSetting">
          <span class="font-weight-bold" *ngIf="classDivisions.length > 0" class="font-weight-bold"
            [translate]="'CoursesLocal.CourseDivision.WithDivisions'"></span>
          <span class="font-weight-bold" *ngIf="classDivisions.length === 0" class="font-weight-bold"
            [translate]="'CoursesLocal.CourseDivision.WithoutDivisions'"></span>
        </div>
        <ul *ngIf="classDivisions">
          <li *ngFor="let division of classDivisions; index as i;">
            <div class="row">
              <div class="col-12">
                {{this.selectedClass.title}} {{'(' + division.title + ')'}}, {{divisionInstructors[i]}}
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div *ngIf="complexCourse || sections || (!mainClass && mergedClassGroup.length > 0)">
        <i class="fas fa-info-circle"></i>
        <span class="font-weight-bold" [translate]="'CoursesLocal.CourseDivision.CannotDivide'"></span>
      </div>
    </div>
  </div>
</div>
<router-modal></router-modal>
