<div class="col-lg-12">
  <div class="py-4">
    <h2 class="d-inline" [translate]="'CoursesLocal.ExamHistory'"></h2>
  </div>
</div>


<div class="details_student_navbar">
  <form class="form-inline p-2 col">
     <div class="form-group col-12 col-md-6 col-lg-auto py-1">
         <label class="pr-2" for="searchText" [translate]="'CoursesLocal.Status'"></label>
             <select [(ngModel)]="selectedExamStatus" name="selectSection" class="form-control" (change)="selectChangeHandler()">
               <option [ngValue]="null"><span [translate]="'CoursesLocal.FilterByStatus'"></span></option>
               <option *ngFor="let statusExams of select  | groupBy: [ 'status']  | values" [ngValue]="statusExams[0].status"> {{ 'CoursesLocal.GradingStatusTypes.' + statusExams[0]?.status | translate}}</option>
             </select>
         </div>
    <div class="form-group col-12 col-md-6 col-lg-auto py-1">
      <label class="pr-2" for="searchText" [translate]="'CoursesLocal.Year'"></label>
      <select [(ngModel)]="selectedExamYear" name="selectSection" class="form-control" (change)="selectChangeHandler()">
        <option [ngValue]="null"><span [translate]="'CoursesLocal.FilterByYear'"></span></option>
        <option *ngFor="let yearExams of select  | groupBy: [ 'year']  | values" [ngValue]="yearExams[0].year"> {{yearExams[0]?.year }}</option>
      </select>
    </div>
    <div class="form-group col-12 col-md-6 col-lg-auto py-1">
      <label class="pr-2" for="searchText" [translate]="'CoursesLocal.Period'"></label>
      <select [(ngModel)]="selectedExamPeriod" name="selectSection" class="form-control" (change)="selectChangeHandler()">
        <option [ngValue]="null"><span [translate]="'CoursesLocal.FilterByPeriod'"></span></option>
        <option *ngFor="let periodExams of select  | groupBy: [ 'examPeriod.alternateName' ] | values" [ngValue]="periodExams[0].examPeriod.alternateName"> {{periodExams[0]?.examPeriod | localize:['name']}}</option>
      </select>
    </div>
           <div class="form-group col-12 col-md-6 py-1">
           <label class="pr-2" [translate]="'CoursesLocal.Search'"></label>
           <input spellcheck="false" (keyup)="onSearchTextKeyUp($event)" type="text" id="searchText" [(ngModel)]="searchText"
                  (keydown)="onSearchTextKeyDown($event)" name="searchText" class="form-control col text-left" [placeholder]="'CoursesLocal.SearchPlaceHolder2' | translate">
          </div>
     </form>
   </div>

<div class="app2">
  <div class="mt-2">
    <div *ngIf="exams">
      <div *ngIf="this.count > 1 || this.count == 0" class=" mt-1 text-right text-color-theme font-xl sis-brand-bold">  {{this.count}} {{'CoursesLocal.Results' | translate}}</div>
      <div *ngIf="this.count === 1" class=" mt-1 text-right text-color-theme font-xl sis-brand-bold">  {{this.count}} {{'CoursesLocal.Result' | translate}}</div>
    </div>
  </div>

  <div class="card mt-4" *ngIf="!isLoading && count === 0">
    <div class="card-body">
      <div class="info-text" [translate]="'CoursesLocal.NoExams'"></div>
    </div>
  </div>

  <!--loading state-->
  <div class="card mt-4" *ngIf="isLoading">
    <div class="card-body">
      <div class="ph-col-12">
        <div class="ph-row">
          <div class="ph-col-2 big"></div>
          <div class="ml-3 ph-col-2 big"></div>
          <div class="ml-3  ph-col-2 big"></div>
        </div>
        <div class="ph-row">
          <div class="ph-col-2 big"></div>
          <div class="ml-3 ph-col-2 big"></div>
          <div class="ml-3  ph-col-2 big"></div>
          <div class="ml-3  ph-col-2 big"></div>
        </div>
        <div class="ph-row">
          <div class="ph-col-2 big"></div>
        </div>
        <div class="ph-row">
        </div>
        <div class="ph-row">
          <div class="ph-col-8 big"></div>
        </div>
      </div>
    </div>
  </div>
  <!--end loading state-->

    <div class="app-body">
      <div class="main inner__content px-3"
        infinite-scroll
        [infiniteScrollDistance]="1"
        [infiniteScrollThrottle]="50"
        [fromRoot]="true"
        (scrolled)="onScroll()"
        #innerContainer>
        <div *ngFor="let periodExams of exams | orderBy :[ 'year' , 'examPeriod.id'] | groupBy: [ 'year.name' , 'examPeriod.name']  | values">
            <h3 class="pr-3">{{periodExams[0]?.examPeriod | localize:['name']}} {{periodExams[0]?.year?.alternateName}}</h3>
          <div *ngFor="let periodExam of periodExams">
            <a class="card mb-3" [routerLink]="['/courses', periodExam.course.id,periodExam.year.id,periodExam.classes[0].courseClass.period.id, 'exams', periodExam.id ]">
              <div class="card-body">
                <div class='row justify-content-start'>
                  <div class='row card-body-title col-9 pb-2 ml-1' >
                    <h5>
                      <span class="card-title" *ngIf="currentLanguage == defaultLanguage; else notDefault">{{periodExam.name }}</span>
                  <ng-template #notDefault>{{periodExam?.course | localize:['name'] }}</ng-template>
                       - <span class="font-lg" [ngClass]="{'text-primary': periodExam.status.alternateName ==='open',
                                'text-danger':periodExam.status.alternateName ==='closed',
                                'text-warning':periodExam.status.alternateName ==='inprogress',
                                'text-success':periodExam.status.alternateName ==='completed'}">
                {{'CoursesLocal.GradingStatusTypes.' + periodExam.status.alternateName | translate}}
              </span>
                    </h5>
                  </div>
                  <div class='row col-lg-9'>
                    <div class='col-auto text-secondary mr-1'>
                      <i class ="fa fa-flag pr-1 "></i> {{periodExam?.course?.displayCode}}
                    </div>
                    <div class='col-auto text-secondary mr-1'>
                      <i class ="fa fa-calendar pr-1"></i> {{periodExam?.classes[0]?.courseClass.period?.alternateName | translate }}  {{periodExam?.year?.name}}
                    </div>
                    <div class='col-auto text-secondary mr-1'>
                      <i class ="fa fa-university pr-1"></i> {{periodExam?.course?.department | localize:['name']}}
                    </div>
                    <div class="col-auto text-secondary mr-1">
                      <i class="fa fa-user pr-1"></i> {{periodExam?.numberOfGradedStudents || 0}} <span *ngIf="periodExam?.numberOfGradedStudents !== 1" [translate]="'CoursesLocal.Students'"></span><span *ngIf="periodExam?.numberOfGradedStudents === 1" [translate]="'CoursesLocal.Student'"></span><!--{{'CoursesLocal.Students' | translate}} -->
                    </div>
                    <div *ngIf="periodExam?.dateCompleted" class="col-auto text-secondary mr-1">
                      <i class="fa fa-calendar-check-o pr-1"></i> {{periodExam?.dateCompleted | date: 'shortDate'}}
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
      </div>
    </div>
  </div>
</div>

