@import "@universis/theme/scss/universis";


.formio-errors.invalid-feedback .form-text {
  color: #F86C6B;
  font-size: 1.5em;
}
.formio-component-datagrid.border-0 {
  .datagrid-table {
    border: none;
    th {
      border: none;
      font-weight: 400;
    }
    td {
      border: none;
    }
    tfoot {
      td {
        border: none !important;
      }
    }
  }
}
.formio-component-datagrid {
  // overflow-x: auto;
  .datagrid-table {
    .form-group {
      margin-bottom: 0;
    }
    th {
      color: map-get($theme-colors, 'secondary');
      font-size: 0.75rem;
      font-weight: 700;
      padding-top: 16px;
      padding-bottom: 4px;
    }
    tbody{
      .choices__item {
        display: grid;
      }
      td:last-child {
        vertical-align: bottom;
      }
    }
    .formio-button-remove-row {
      i:before {
        content: "\f057";
      }
    }
  }
}
.formio-component-number.text-right {
  input[type=text] {
    text-align: right;
  }
}
.choices {
  .choices__list--multiple {
    .choices__item {
      background-color: #63c2de ;
      border: 1px solid #63c2de;
    }
  }
}

.card-header {
    cursor: pointer;
}

.fa-minus-square-o:before {
    content: "\f146";
}

.fa-plus-square-o:before {
    content: "\f0fe";
}

.s--nav-tabs {
    margin-left: -30px;
    margin-right: -30px;
    box-shadow: 0 0 17px 0 rgba(177, 177, 177, 0.5);

    .nav-link {
        padding: 0.875rem 0.875rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        text-align: center;
    }

    .active {
        border-bottom: 3px solid #2500dd;
    }
}

.main .container-fluid {
    padding-left: calc(min(5vw, 4em)) !important;
    padding-right: calc(min(5vw, 4em)) !important;
}

.new-card {
    position: relative;
    display: flex;
    flex-direction: row;
    min-width: 0;
    word-wrap: break-word;
    border-radius: 0.375rem;
    box-shadow: 0 0 6px 0 rgba(177, 177, 177, 0.5);
    margin-bottom: 1rem;
}

.new-card-body {
    flex:1;
    padding: 1.25rem;
}

.new-card-right {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgba(177, 177, 177, 0.5);
    min-width: 4em;
}

.new-card-group {
    box-shadow: 0 0 6px 0 rgba(177, 177, 177, 0.5);
    margin-bottom: 1rem;
    border-radius: 0.375rem;

    .new-card {
        margin: 0;
        box-shadow: none;
        border-bottom: 1px solid rgba(177, 177, 177, 0.5);
        border-radius: 0;
    }
}

.formio-component-number.text-right {
  input[type=text] {
    text-align: right;
  }
}

.formio-component-select-wrap {
  .form-control {
    height: auto;
  }
  .choices__list.choices__list--dropdown {
    .choices__item {
      white-space: unset;
    }
  }
  .choices__list.choices__list--single {
    .choices__item:first-child.choices__item--selectable {
      overflow: unset;
      text-overflow: unset;
      white-space:unset;
    }
  }
}
